Client: build_mono
Owner:  build
Description:
        Build Mono
Root:   null
Options:        nomodtime noclobber
SubmitOptions:  revertunchanged
View:
        //deployment/main/omnibus/mono/...     //build_mono/...
